.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(ribbble_1https://cdn.dribbble.com/users/285475/screenshots/2083086/d.gif);
    height: 400px;
    width: 800px;
    margin-left: 20%;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 text-align: center;
 }
 
 